body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    font-family: Helvetica;
}
.header { 
    font-size: 24px;
    color: #F9FAF8;
}

.menu{
    font-size: 18px;
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 8px;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;

}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.dark-background {
    background: #1F2937;
    padding: 12px 42px;
}

.text, .box {
    color: #E5E7EB;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}