body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header { 
    font-size: 24px;
    color: #F9FAF8;
}

.menu{
    font-size: 18px;
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 8px;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-size: 18px;
}

.button2 {
    border: 2px solid white;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.dark-background {
    background: #1F2937;
    padding: 100px;
    padding-top: 15px;
}

.text, .box {
    color: #E5E7EB;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.portfolio {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 20px;
    margin: auto;
    width: 100px;
}
.lists, .s {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.square {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 3px solid #3882F6;
    display: flex;
    flex-direction: column;
}

.grey {
    background: #E5E7EB;
    padding: 100px;
    padding: 50px 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.by {
    font-weight: bold;
    text-align: end;
}

.call-to-action {
    background-color: #3882F6;
    text-align: start;
    margin: 80px;
    border-radius: 10px;
    color: white;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.details {
    font-weight: lighter;
}

.footer {
   background-color: #1F2937; 
   color: #E5E7EB;
   text-align: center;
   padding: 30px 60px;
   font-size: 12px;
}